@font-face {
  font-family: "Erotique";
  src: url(../fonts/ErotiqueAlternateTrial-Medium.ttf);
}

::root {
  --beige: #C1AE9F;
  --rosa-claro: #F4EEEA;
  --verde: #89937C;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Erotique", serif;
}

p,
label,
a,
div {
  font-family: "Rubik", sans-serif;
}

.contenedor {
  margin-top: 55px;
  width: 100%;
  background-color: #F4EEEA;
  overflow-y: scroll;
}

a {
  text-decoration: none !important;
}

aside ul {
  padding-left: 0px !important;
  margin-top: 70px;
}

li a span.active {
  display: block;
}

li a span {
  display: none;
}

/* -- DIV OCULTAR COLUMNAS -- */
.ocultar>a:is(.toggle-vis).active,
.ocultar>a:is(.toggle-vis):hover {
  border-radius: none !important;
  font-weight: 700;
  border: none;
}

/* DATATABLE */
table {
  background-color: white;
  border: 5px solid #161666;
  border-radius: 10px;
}

/* MODAL */
.modal-content {
  border: none;
}

.body-M {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid crimson !important;
  /*BORDE DE LOS MODALES*/
  border-radius: 10px;
  background-color: white;
  width: 100%;
}

#invalid-feedback {
  color: red;
  font-weight: bold;
}

/* VALIDACION COLORES */
.valido {
  color: green !important;
}

.invalido {
  color: red;
  font-weight: bold;
}

.normal {
  color: #8e8e8e;
}