@import url("https://fonts.googleapis.com/css2?family=Alike&family=Noto+Serif&family=Nunito:wght@300&display=swap");
p {
  font-family: "Nunito", sans-serif;
}

:root {
  --azulBase: #161666;
  --rojoAcciones: #ef434d;
  --azulClaro: #dfe6f2;
  --grisInput: #eceaea; /* gris mas oscuro */
}



/* -- CONTRASEÑA -- */
#msgConfir.valido,
#msgConfirRes.valido{
  color: green !important;
}
#msgNit.valido {
  color: green !important;
}

#msgConfir.invalido,
#msgConfirRes.invalido,
#msgDoc.invalido,
#msgTel.invalido,
#msgCorreo.invalido,
#msgRaSo.invalido,
#msgNit.invalido {
  color: red;
}

#msgConfir.normal,
#msgConfirRes.normal {
  color: #8e8e8e;
}


/* #bloqueFoto {
  display: flex;
  justify-content: center;
  align-items: center;
}

#iconoFoto {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid var(--azulBase);
  border-radius: 5px;
}

.tituloFoto {
  width: 500px;
  font-size: 20px;
  text-align: center;
  border: none !important;
}

#fotoPerfil {
  margin: 5px 25px;
  width: 150px;
  border: 3px solid var(--azulBase);
  padding: 1px;
  overflow: hidden;
}

#filePerfil {
  width: 200px;
}

.show-row {
  display: table-row;
}

.descripcion{
  background-color: #ECEAEA;
} */